<section class="section">
  
  
  <h1>Cadastro Médico</h1> 

  
  <div class="register">

  <label class="label">Nome completo:</label>
  <br>
  <input class="input" type="text">
  <br>
  <label class="label">CRM:</label>
  <br>
  <input class="input" type="number">
  <br>
  <label class="label">Especialidade:</label>
  <br>
   <select id="speciality"> 
    <option value=""></option>
    <option value="">CLINICO GERAL</option>
    <option value="">CARDIOLOGIA</option>
    <option value="">PEDIATRIA</option>
    <option value="">CIRURGIA PLASTICA</option>
     </select> 
     <br>
     <label class="label">Telefone:</label>
     <br>
    <input  class="input" type="number">

  </div>

</section>
