<section class="section">

<!-- Sign up form -->
  <div>
    <button (click)="toggleSignUpPopUp = true">Sign up</button>
  </div>

  <div class="popup" *ngIf="toggleSignUpPopUp">
    <button class="popup__close" (click)="toggleSignUpPopUp = false">x</button>
    <input type="text" id="firstname" class="form" placeholder="First name" required [(ngModel)]="user.firstName">
    <input type="text" id="lastname" class="form" placeholder="Last name" required [(ngModel)]="user.lastName"> 
    <input type="text" id="email" class="form" placeholder="Email" required [(ngModel)]="user.email">
    <input type="password" id="password" class="form" placeholder="New password" required [(ngModel)]="user.password">
    <label class="form">Birthday</label>
    <input type="date" id="birthday" class="form" required [(ngModel)]="user.birthday">

<!-- Selecting gender -->
    <div class="genderForm" [(ngModel)]="user.gender">
      <p class="genderForm">Gender</p>
      <label for="male">Male</label>
      <input type="radio" name="radsex" id="male">
      <label for="female">Female</label>
      <input type="radio" name="radsex" id="female">
      <label for="other">Other</label>
      <input type="radio" name="radsex" id="other" (click)="toggleOtherGender = true">
      <input type="text" placeholder="Type your gender" *ngIf="toggleOtherGender">
    </div>

    <button type="submit">Sign up</button>
  </div>

<!-- <div style="height: 25rem; background-color: blue;">
  <ul *ngFor="let item of mockDataBase">
    <li>
      {{ item }}
    </li>
    <button>delete</button>
    <button>update</button>
  </ul>
</div> -->

</section>
