<section class="section">

<!-- Sign up form -->
  <div>
    <button class="signup-btn-home" (click)="toggle.signUpPopUp = true">Sign up</button>
  </div>

  <div class="popup" *ngIf="toggle.signUpPopUp">

    <button class="close" (click)="toggle.signUpPopUp = false"></button>

    <div class="popup__input-box">
      <input type="text" id="firstname" autocomplete="off" required [(ngModel)]="user.firstName">
      <label>First name</label>
    </div>

    <div class="popup__input-box">
      <input type="text" id="lastname" autocomplete="off" required [(ngModel)]="user.lastName">
      <label>Last name</label>
    </div>

    <div class="popup__input-box">
      <input type="text" id="email" autocomplete="off" required [(ngModel)]="user.email">
      <label>Email</label>
    </div>

    <div class="popup__input-box">
      <input type="password" id="password" autocomplete="off" required [(ngModel)]="user.password">
      <label>Password</label>
    </div>

    <div class="popup__input-box">
      <input type="date" autocomplete="off" required [(ngModel)]="user.birthday">
      <label>Birthday</label>
    </div>

    <!-- Selecting gender -->
    <div class="gender-form">

      <label for="male">Male</label>
      <input #male type="radio" name="radsex" (click)="fetchSelectedGender()">

      <label for="female">Female</label>
      <input #female type="radio" name="radsex" (click)="fetchSelectedGender()">

      <label for="other">Other</label>
      <input #other type="radio" name="radsex" (click)="fetchSelectedGender()">
      <input type="text" placeholder="Type your gender" *ngIf="toggle.gender.other" [(ngModel)]="user.gender.otherDescription">
    </div>

    <button class="signup-btn-popup" (click)="createNewUser(user)">Sign Up</button>
  </div>

<!-- esboco para lista inscritos -->
  <div style="height: 25rem; background-color: #F58702;">

    <ul *ngFor="let item of dataBase">
      <li>
        First name: {{item.firstName}} |
        Last name: {{item.lastName}} |
        Email: {{item.email}} |
        Birthday: {{item.birthday}} |
        <!-- {{(item.gender.male) ? 'Male |' : ''}}
        {{(item.gender.female) ? 'Female |' : ''}}
        {{(item.gender.other) ? 'Other |' : ''}}
        {{item.gender.otherDescription}} -->
      </li>
      <button (click)="delete()">Delete user</button>
      <button>Update user</button>
    </ul>

  </div>

</section>
