@import "~variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

button {
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  background-color: #F65A46;
  color: white;
  font-weight: 400;
  font-size: 13px;
  font-weight: 400;
}

button:hover {
  background-color: #fa7d4b;
}

.section {
  background-image: url(../../../assets/taruni-gopi/background.jpg);

  height: $height-less-header;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;
}

.homepage-image {
  margin-bottom: 30px;
}

.homepage-button {
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
}

.create-register {
  background-color: #ffffff;
  position: absolute;
  top: calc(3% + #{$header-height});
  width: 450px;
  height: 480px;
  border-radius: 3px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
    font-size: 13px;
    align-self: flex-start;
    font-family: 'Roboto', sans-serif;
  }

  &__input {
    width: 445px;
    height: 25px;
    margin-bottom: 15px;
    margin-top: 5px;
    outline: none;

    font-family: 'Roboto', sans-serif;
    font-size: 13px;
  }
}

.create-register-confirmation {
  background-color: white;
  position: absolute;
  margin: auto;
  width: auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);

  flex-direction: column;
  display: flex;
  align-items: center;
}

.show-registers {
  background-color: #ffffff;
  position: absolute;
  top: calc(3% + #{$header-height});
  width: 580px;
  height: 480px;
  border-radius: 3px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__scrollbox {
    background-color: #fde4bf;
    width: 550px;
    height: 400px;
    border-radius: 3px;
    padding: 20px;
    overflow: auto;

    text-align: left;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    justify-content: left;

    &__items {
      background-color: white;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;

      &__button {
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 5px;
        padding: 5px;
      }
    }
  }
}

.input-container {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__label {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.popup-box {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  &__button {
    width: 100px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
