<section class="section">

  <!-- CRUD: create, read, update and delete a register. -->

  <div class="homepage-image">
    <img src="../../../assets/taruni-gopi/guru-notes-logo.png" alt="logo">
  </div>

  <!-- Botões da página inicial -->

  <button class="homepage-button" (click)="toggleOpenCreateRegister = true">Register new devotee</button>
  <button class="homepage-button" (click)="toggleOpenShowRegisters = true">Show registers</button>

  <!-- Cadastrar novo devoto(a) -->
  <div class="create-register" *ngIf="toggleOpenCreateRegister">

    <label class="create-register__label">Spiritual name</label>
    <input type="text" class="create-register__input" [(ngModel)]="devotee.spiritualName">

    <label class="create-register__label">Social name</label>
    <input type="text" class="create-register__input" [(ngModel)]="devotee.socialName">

    <label class="create-register__label">City</label>
    <input type="text" class="create-register__input" [(ngModel)]="devotee.adress.city">

    <label class="create-register__label">State</label>
    <input type="text" class="create-register__input" [(ngModel)]="devotee.adress.state">

    <label class="create-register__label">Country</label>
    <input type="text" class="create-register__input" [(ngModel)]="devotee.adress.country">

    <label class="create-register__label">Telephone number</label>
    <input type="number" class="create-register__input" [(ngModel)]="devotee.contact.phone">

    <label class="create-register__label">E-mail</label>
    <input type="text" class="create-register__input" [(ngModel)]="devotee.contact.email">

    <div class="input-container">
      <div class="input-container__box">
          <label class="input-container__label">Date of birth</label>
          <input type="date" style="width: 130px;" class="input-box" [(ngModel)]="devotee.dateOfBirth">
      </div>
      <div class="input-container__box">
          <label class="input-container__label">First initiation date</label>
          <input type="date" style="width: 130px;" class="input-box" [(ngModel)]="devotee.dateOfInitiation">
      </div>
    </div>

    <div class="popup-box">
      <button class="popup-box__button" (click)="createRegister()">Register</button>
      <button class="popup-box__button" (click)="toggleOpenCreateRegister = false">Cancel</button>
    </div>
  </div>

  <!-- Exibir cadastros existentes -->
  <div class="show-registers" *ngIf="toggleOpenShowRegisters">

    <div class="show-registers__scrollbox">
      <div class="show-registers__scrollbox__items" *ngFor="let item of dataBase; index as i">
          <p><span style="font-weight: bold;">{{i + 1}}</span> - {{item.spiritualName}} | {{item.socialName}} | {{item.adress.city}}, {{item.adress.state}}, {{item.adress.country}} | {{item.contact.phone}} | {{item.contact.email}} | {{item.dateOfBirth}} | {{item.dateOfInitiation}}</p>

          <button (click)="changeRegister()" class="show-registers__scrollbox__items__button">Change</button>
          <button (click)="deleteRegister(i)" class="show-registers__scrollbox__items__button">Delete</button>
      </div>
    </div>

    <div class="popup-box">
      <button class="popup-box__button" (click)="toggleOpenShowRegisters = false">Close</button>
    </div>

  </div>

</section>
