@import "~variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.section {
  background-image: url(images/bg.jpg);

  height: $height-less-header;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;
}

.title {
  margin-bottom: 50px;

  font-family: 'Berkshire Swash', cursive;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;

  text-shadow: 1px 1px 3px rgb(151, 28, 53);
}

.button {
  width: 200px;
  height: 30px;

  margin-top: 5px;
  margin-bottom: 5px;

  border: none;
  border-radius: 20px;

  cursor: pointer;
  outline: none; 

  font-family: 'Roboto', sans-serif;
  background-color: #e61e46;
  color: white;
}

.button:hover {
  background-color: #a81533;
  color: white;
}

.create-register-popup {
  background-color: #ffffff;
  position: absolute;
  width: 400px;
  height: 430px;
  border-radius: 2px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
    font-size: 12px;
    align-self: flex-start;
  }

  &__input {
    background-color: rgb(253, 228, 191);

    width: 400px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: rgba(255, 160, 122, 0.253);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    outline: none;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;    
  }
}

.read-register-popup {
  background-color: #ffffff;
  position: absolute;
  width: 400px;
  height: 430px;
  border-radius: 2px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-register-popup {
  background-color: #ffffff;
  position: absolute;
  width: 400px;
  height: 430px;
  border-radius: 2px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-register-popup {
  background-color: #ffffff;
  position: absolute;
  width: 400px;
  height: 430px;
  border-radius: 2px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-submit {
  width: 190px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  &__button {
    text-align: center;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 90px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
  
  background-color: #e61e46;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  
  &__button:hover {
    background-color: #a81533;
  }
}